@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
  --LightCyan: hsl(193, 38%, 86%);
  --LightCyan-1: hsl(193, 100%, 96%);
  --NeonGreen: hsl(150, 100%, 66%);
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--DarkBlue);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.advice-card {
  z-index: 1;
  position: relative;
  grid-column: content-start / content-end;
  background-color: var(--DarkGrayishBlue);
  width: 60rem;
  height: 40rem;
  border-radius: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10.4rem 1fr 8.4rem;
      grid-template-rows: 10.4rem 1fr 8.4rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advice-card__body {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}

.advice-card__id {
  letter-spacing: 3px;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--NeonGreen);
}

.advice-card__qoute {
  width: 75%;
  height: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advice-card__heading {
  color: var(--LightCyan);
  font-size: 3rem;
  font-weight: 800;
}

.advice-card__text {
  color: var(--LightCyan);
  font-size: 2.8rem;
  font-weight: 800;
}

.advice-card__text::before, .advice-card__text::after {
  font-size: 4rem;
  line-height: 0;
}

.advice-card__text::before {
  content: open-quote;
}

.advice-card__text::after {
  content: close-quote;
}

.advice-card__divider {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.advice-card__btn {
  background-color: var(--NeonGreen);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.advice-card__btn:hover {
  -webkit-box-shadow: 0 0 3.2rem 1rem var(--NeonGreen);
          box-shadow: 0 0 3.2rem 1rem var(--NeonGreen);
}

.advice-card__btn:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.advice-card__bookmark {
  position: absolute;
  fill: var(--LightCyan);
  height: 4rem;
  width: 6rem;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.bookmarked {
  fill: var(--NeonGreen);
}

.hidden {
  display: none;
}

.spinner__icon {
  fill: var(--NeonGreen);
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.nav {
  width: 100vw;
  height: 10rem;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav__bookmarks {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border: transparent solid 3px;
  border-radius: 3px;
  padding: 0 2rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.nav__bookmarks span {
  margin-left: 1rem;
  color: var(--LightCyan);
  font-size: 2rem;
  font-weight: 800;
}

.nav__bookmarks:hover {
  border: var(--LightCyan) solid 3px;
}

.nav__bookmarks:hover ~ .nav__bookmark-list {
  visibility: visible;
  opacity: 1;
}

.nav__bookmark-list:hover {
  visibility: visible;
  opacity: 1;
}

.nav__bookmark-icon {
  fill: var(--LightCyan);
  height: 4rem;
  width: 4rem;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.nav__bookmark-list {
  visibility: hidden;
  opacity: 0;
  border-radius: 7px;
  z-index: 10;
  background-color: var(--LightCyan);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  bottom: 0;
  right: 31px;
  -webkit-transform: translateY(100%) translateX(-70px);
          transform: translateY(100%) translateX(-70px);
  width: 30rem;
  min-height: 8.15rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  overflow: hidden;
}

.nav__bookmark-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0.5rem;
  border: 1.5px solid var(--DarkGrayishBlue);
  border-top: 0.75px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.nav__bookmark-list-item:hover {
  background-color: var(--LightCyan-1);
}

.list-text {
  color: var(--DarkGrayishBlue);
  display: inline-block;
  font-size: 1.7rem;
}

.qoute__icon {
  height: 4rem;
  width: 4rem;
  fill: var(--DarkGrayishBlue);
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [left-start] 1fr [left-end content-start] min-content [content-end right-start] 1fr [right-end];
      grid-template-columns: [left-start] 1fr [left-end content-start] -webkit-min-content [content-end right-start] 1fr [right-end];
      grid-template-columns: [left-start] 1fr [left-end content-start] min-content [content-end right-start] 1fr [right-end];
}
/*# sourceMappingURL=main.css.map */