.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

.advice-card {
  position: relative;
  grid-column: content-start / content-end;
  background-color: var(--DarkGrayishBlue);
  width: 60rem;
  height: 40rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10.4rem 1fr 8.4rem;
  justify-items: center;
  align-items: center;
  // 24
  // 1fr
  // 24
  &__body {
    flex-basis: 1;
  }
  &__id {
    letter-spacing: 3px;

    font-size: 1.8rem;
    font-weight: 500;
    color: var(--NeonGreen);
  }
  &__qoute {
    width: 75%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__heading {
    color: var(--LightCyan);
    font-size: 3rem;
    font-weight: 800;
  }
  &__text {
    color: var(--LightCyan);
    font-size: 2.8rem;
    font-weight: 800;
    &::before,
    &::after {
      font-size: 4rem;
      line-height: 0;
    }
    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }
  &__divider {
    align-self: start;
  }
  &__btn {
    background-color: var(--NeonGreen);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    padding: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      box-shadow: 0 0 3.2rem 1rem var(--NeonGreen);
    }
    &:active {
      transform: translateY(5px);
    }
  }
  &__bookmark {
    position: absolute;
    fill: var(--LightCyan);
    height: 4rem;
    width: 6rem;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    transition: all 0.25s;
  }
}
.bookmarked {
  fill: var(--NeonGreen);
}
.hidden {
  display: none;
}

.spinner {
  &__icon {
    fill: var(--NeonGreen);
    animation: spin 2s infinite linear;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nav {
  // background-color: red;
  width: 100vw;
  height: 10rem;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  &__show-bookmarks {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 15rem;
    align-self: stretch;
    border: transparent solid 3px;
    border-radius: 3px;
    padding: 0 2rem;
    transition: all 0.25s;
    span {
      margin-left: 1rem;
      color: var(--LightCyan);
      font-size: 2rem;
      font-weight: 800;
    }
    &:hover {
      border: var(--LightCyan) solid 3px;
    }
  }
  &__bookmark-icon {
    fill: var(--LightCyan);
    height: 4rem;
    width: 4rem;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    transition: all 0.25s;
  }
  &__show-bookmarks:hover &__bookmark-display {
    opacity: 1;
  }
  &__bookmark-display:hover {
    opacity: 1;
  }
  &__bookmark-display {
    background-color: var(--LightCyan);
    opacity: 0;

    position: absolute;
    bottom: 0;
    transform: translateY(100%) translateX(-70px);
    width: 30rem;
    height: 50rem;
    padding-top: 2rem;
    transition: all 0.25s;
  }

  &__bookmark-display-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__bookmark-display-list-item:last-child {
    margin-bottom: 0;
  }
}

.list-text {
  color: var(--DarkGrayishBlue);
  display: inline-block;
  font-size: 1.7rem;
}
.qoute__icon {
  height: 4rem;
  width: 4rem;
  fill: var(--DarkGrayishBlue);
}
